<a href="https://colab.research.google.com/github/julianachavespalm/pretalab_ciclo11/blob/main/Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Para a realização desses exercícios, peço que configurem para não aparecer sugestões da IA Gemini*

### A) **Utilizando variáveis, gere uma apresentação curta de sí mesma, como nesse exemplo**:

In [ ]:
# Oi! Eu sou a Amanda, tenho 30 anos, moro em Salvador e meu signo é Gêmeos

In [ ]:
# Dica: As variáveis podem ser algo como:
nome = 'Amanda'
idade = 30
cidade = 'Salvador'
signo = 'Gêmeos'

In [36]:
# Resposta aqui:
nome = 'Juliana'
idade = 37
cidade = 'Rio de Janeiro'
signo = 'Virgem'

print(f'''Prazer, meu nome é {nome}.
Tenho {idade} anos, meu signo é {signo.lower()}.
Moro na cidade do {cidade}.''')

Prazer, meu nome é Juliana.
Tenho 37 anos, meu signo é virgem.
Moro na cidade do Rio de Janeiro.



---

### B) **Qual o maior valor dessa lista de gastos?**

---

In [4]:
gastos = [10.60, 11.99, 5.50, 10, 45.99, 7.50, 4.00]

In [5]:
# O valor mais caro é: 45.99

In [37]:
# Resposta aqui

print(f'O valor mais caro é: {max(gastos)}.')

O valor mais caro é: 45.99.



---

### C) **Qual a média dessa lista?**:

In [10]:
numeros = [10,80,50,90,70]

In [ ]:
# A média dos números é: 60.0

In [38]:
# Resposta aqui
media = sum(numeros)/len(numeros)
print(f'A média dos números é: {media}.')

A média dos números é: 60.0.



---

### D) **Qual a média final dessas notas, qual a maior e qual a menor nota**

In [14]:
notas = [10,7.8, 6, 8, 9]

In [ ]:
# A média final é 8.16. A sua maior nota foi 10 e a menor nota foi 6!

In [17]:
# Resposta aqui
media = sum(notas)/len(notas)
nota_maxima = max(notas)
nota_minima = min(notas)
print(f'A média final {media}. A sua maior nota foi {nota_maxima} e a menor nota foi {nota_minima}!')

A média final é 8.16. A sua maior nota foi 10 e a menor nota foi 6.



---

### E) **Com as mesmas informações do exercício anterior, apresente se a aluna foi APROVADA ou REPROVADA**

*  Se a média for igual ou superior a 6 apresentar a mensagem "Parabéns, você foi APROVADA!"
*  Se a média for menor, apresentar "Não foi dessa vez, infelizmente você foi REPROVADA!"

In [ ]:
# Parabéns você foi aprovada!

In [18]:
# Resposta aqui
if media >= 6:
    print('Parabéns, você foi APROVADA!')
else:
    print('Não foi dessa vez, infelizmente você foi REPROVADA!')

Parabéns, você foi APROVADA!



---

### F) **Desenvolva um programa que realize as quatro operações básicas (adição, subtração, multiplicação e divisão) entre dois números. A usuária deve escolher a operação e inserir os valores**

In [ ]:
#Digite o primeiro número: 10
#Digite o segundo número: 20
#Digite a operação (+, -, *, /): +
#Resultado: 30.0

In [21]:
# Resposta aqui
def calculadora(primeiro_numero, segundo_numero, operacao):

    try:
        primeiro_numero = float(primeiro_numero)
        segundo_numero = float(segundo_numero)

        operacao = operacao.lower()

        if operacao == '+' or operacao == 'soma':
            resultado = primeiro_numero + segundo_numero
        elif operacao == '-' or operacao == 'subtração':
            resultado = primeiro_numero - segundo_numero
        elif operacao == '*' or operacao == 'multiplicação':
            resultado = primeiro_numero * segundo_numero
        elif operacao == '/' or operacao == 'divisão':
            if segundo_numero == 0:
                return "Erro: Divisão por zero!"
            else:
                resultado = primeiro_numero / segundo_numero
        else:
            return "Operação inválida! Operações válidas: +, -, *, / (ou soma, subtração, multiplicação, divisão)"

        return resultado

    except ValueError:
        return "Erro: Entrada inválida. Certifique-se de inserir números."

primeiro_numero = input('Digite o primeiro número: ')
segundo_numero = input('Digite o segundo número: ')
operacao = input('Selecione a operação: + (soma), - (subtração), * (multiplicação), / (divisão)\n')

resultado = calculadora(primeiro_numero, segundo_numero, operacao)
print(resultado)

Digite o primeiro número: 12
Digite o segundo número: 0
Selecione a operação: + (soma), - (subtração), * (multiplicação), / (divisão)
/
Erro: Divisão por zero!



---

### G) **Faça um Programa que leia três números e mostre-os em ordem decrescente.**

In [29]:
# Resposta aqui
def conjunto_numeros_crescentes():
    primeiro_numero = float(input('Inserir o primeiro número: '))
    segundo_numero = float(input('Inserir o segundo número: '))
    terceiro_numero = float(input('Inserir o terceiro número: '))

    numeros = [primeiro_numero, segundo_numero, terceiro_numero]

    numeros.sort()

  print(f'{numeros}')

conjunto_numeros_crescentes()

Inserir o primeiro número: 1
Inserir o segundo número: 8
Inserir o terceiro número: 2
[1.0, 2.0, 8.0]



---

### H) **Faça uma função que retorne o reverso de um número inteiro informado. Por exemplo: 153 -> 351**

In [33]:
# Resposta aqui
def reverso():
    numero = input('Digite o número: ')

    # Inverte o número (convertendo para string e usando slicing)
    numero_invertido = numero[::-1]

    print(f'O número invertido é: {numero_invertido}')

reverso()

Digite o número: 456231
O número invertido é: 132654



---

### I) **Faça um programa que solicite o nome do usuário e imprima-o em formato de escada.**

In [ ]:
#Digite seu nome: amanda
#a
#am
#ama
#aman
#amand
#amanda

In [34]:
# Resposta aqui
def nome_escada():
    nome = input('Informe seu nome: ')

    for i in range(1, len(nome) + 1):
        print(nome[:i])

nome_escada()

Informe seu nome: Juliana
J
Ju
Jul
Juli
Julia
Julian
Juliana